<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.JifenzengjiaMapper">
  <resultMap id="BaseResultMap" type="com.entity.Jifenzengjia">
    <id column="id" jdbcType="INTEGER" property="id" />
	<result column="xiaoshoudanhao" jdbcType="VARCHAR" property="xiaoshoudanhao" />    <result column="huodejifen" jdbcType="VARCHAR" property="huodejifen" />    <result column="kahao" jdbcType="VARCHAR" property="kahao" />    <result column="xingming" jdbcType="VARCHAR" property="xingming" />    <result column="jifen" jdbcType="VARCHAR" property="jifen" />    
    <result column="addtime" jdbcType="VARCHAR" property="addtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, xiaoshoudanhao,huodejifen,kahao,xingming,jifen, addtime
  </sql>
  <select id="quchongJifenzengjia"  parameterType="java.util.Map" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from jifenzengjia 
    where kahao = #{kahao,jdbcType=VARCHAR} limit 0,1
  </select>
 <select id="getCount"   resultType="int" parameterType="java.util.Map" >
    select  count(*) from jifenzengjia  where 1=1
    <if test="xiaoshoudanhao!=null">and xiaoshoudanhao like  concat('%',#{xiaoshoudanhao,jdbcType=VARCHAR},'%')</if>     <if test="huodejifen!=null">and huodejifen like  concat('%',#{huodejifen,jdbcType=VARCHAR},'%')</if>     <if test="kahao!=null">and kahao like  concat('%',#{kahao,jdbcType=VARCHAR},'%')</if>     <if test="xingming!=null">and xingming like  concat('%',#{xingming,jdbcType=VARCHAR},'%')</if>     <if test="jifen!=null">and jifen like  concat('%',#{jifen,jdbcType=VARCHAR},'%')</if>     
  </select> 
  <select id="getAll"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from jifenzengjia  where 1=1
    <if test="kahao!=null">
    and kahao =#{kahao}
    </if>
  </select>
  
  <select id="getsyjifenzengjia1"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from jifenzengjia  where 1=1
    limit 0,5
  </select>
  <select id="getsyjifenzengjia2"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from jifenzengjia  where 1=1
    limit 0,5
  </select>
  <select id="getsyjifenzengjia3"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from jifenzengjia  where 1=1
    limit 0,5
  </select>
  
   <select id="getByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
     select  <include refid="Base_Column_List" /> 
     from jifenzengjia where 1=1 
     <if test="xiaoshoudanhao!=null">and xiaoshoudanhao like  concat('%',#{xiaoshoudanhao,jdbcType=VARCHAR},'%')</if>     <if test="huodejifen!=null">and huodejifen like  concat('%',#{huodejifen,jdbcType=VARCHAR},'%')</if>     <if test="kahao!=null">and kahao like  concat('%',#{kahao,jdbcType=VARCHAR},'%')</if>     <if test="xingming!=null">and xingming like  concat('%',#{xingming,jdbcType=VARCHAR},'%')</if>     <if test="jifen!=null">and jifen like  concat('%',#{jifen,jdbcType=VARCHAR},'%')</if>     
	 order by id desc
     <if test="pageno!=null and pageSize!=null">
     limit #{pageno},#{pageSize}
     </if>
     </select>
	 
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from jifenzengjia
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from jifenzengjia
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Jifenzengjia">
    insert into jifenzengjia (id, xiaoshoudanhao,huodejifen,kahao,xingming,jifen, addtime)
    values (#{id,jdbcType=INTEGER}, #{xiaoshoudanhao,jdbcType=VARCHAR},#{huodejifen,jdbcType=VARCHAR},#{kahao,jdbcType=VARCHAR},#{xingming,jdbcType=VARCHAR},#{jifen,jdbcType=VARCHAR}, #{addtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Jifenzengjia">
    insert into jifenzengjia
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="xiaoshoudanhao != null"> xiaoshoudanhao, </if>      <if test="huodejifen != null"> huodejifen, </if>      <if test="kahao != null"> kahao, </if>      <if test="xingming != null"> xingming, </if>      <if test="jifen != null"> jifen, </if>      
      <if test="addtime != null">
        addtime,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="xiaoshoudanhao != null"> #{xiaoshoudanhao,jdbcType=VARCHAR},</if>      <if test="huodejifen != null"> #{huodejifen,jdbcType=VARCHAR},</if>      <if test="kahao != null"> #{kahao,jdbcType=VARCHAR},</if>      <if test="xingming != null"> #{xingming,jdbcType=VARCHAR},</if>      <if test="jifen != null"> #{jifen,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        #{addtime,jdbcType=VARCHAR},
      </if>
      
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Jifenzengjia">
    update jifenzengjia
    <set>
	  <if test="xiaoshoudanhao != null"> xiaoshoudanhao = #{xiaoshoudanhao,jdbcType=VARCHAR},</if>      <if test="huodejifen != null"> huodejifen = #{huodejifen,jdbcType=VARCHAR},</if>      <if test="kahao != null"> kahao = #{kahao,jdbcType=VARCHAR},</if>      <if test="xingming != null"> xingming = #{xingming,jdbcType=VARCHAR},</if>      <if test="jifen != null"> jifen = #{jifen,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  
  <update id="updateByPrimaryKey" parameterType="com.entity.Jifenzengjia">
    update jifenzengjia
    set xiaoshoudanhao = #{xiaoshoudanhao,jdbcType=VARCHAR},huodejifen = #{huodejifen,jdbcType=VARCHAR},kahao = #{kahao,jdbcType=VARCHAR},xingming = #{xingming,jdbcType=VARCHAR},jifen = #{jifen,jdbcType=VARCHAR},  addtime = #{addtime,jdbcType=VARCHAR} where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
