<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.JinejisuanMapper">
  <resultMap id="BaseResultMap" type="com.entity.Jinejisuan">
    <id column="id" jdbcType="INTEGER" property="id" />
	<result column="xiaoshoudanhao" jdbcType="VARCHAR" property="xiaoshoudanhao" />    <result column="zongjiage" jdbcType="VARCHAR" property="zongjiage" />    <result column="kahao" jdbcType="VARCHAR" property="kahao" />    <result column="xingming" jdbcType="VARCHAR" property="xingming" />    <result column="xiaofeijine" jdbcType="VARCHAR" property="xiaofeijine" />    
    <result column="addtime" jdbcType="VARCHAR" property="addtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, xiaoshoudanhao,zongjiage,kahao,xingming,xiaofeijine, addtime
  </sql>
  <select id="quchongJinejisuan"  parameterType="java.util.Map" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from jinejisuan 
    where xiaoshoudanhao = #{xiaoshoudanhao,jdbcType=VARCHAR} limit 0,1
  </select>
 <select id="getCount"   resultType="int" parameterType="java.util.Map" >
    select  count(*) from jinejisuan  where 1=1
    <if test="xiaoshoudanhao!=null">and xiaoshoudanhao like  concat('%',#{xiaoshoudanhao,jdbcType=VARCHAR},'%')</if>     <if test="zongjiage!=null">and zongjiage like  concat('%',#{zongjiage,jdbcType=VARCHAR},'%')</if>     <if test="kahao!=null">and kahao like  concat('%',#{kahao,jdbcType=VARCHAR},'%')</if>     <if test="xingming!=null">and xingming like  concat('%',#{xingming,jdbcType=VARCHAR},'%')</if>     <if test="xiaofeijine!=null">and xiaofeijine like  concat('%',#{xiaofeijine,jdbcType=VARCHAR},'%')</if>     
  </select> 
  <select id="getAll"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from jinejisuan  where 1=1
    <if test="xiaoshoudanhao!=null">
    and xiaoshoudanhao =#{xiaoshoudanhao}
    </if>
  </select>
  
  <select id="getsyjinejisuan1"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from jinejisuan  where 1=1
    limit 0,5
  </select>
  <select id="getsyjinejisuan2"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from jinejisuan  where 1=1
    limit 0,5
  </select>
  <select id="getsyjinejisuan3"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from jinejisuan  where 1=1
    limit 0,5
  </select>
  
   <select id="getByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
     select  <include refid="Base_Column_List" /> 
     from jinejisuan where 1=1 
     <if test="xiaoshoudanhao!=null">and xiaoshoudanhao like  concat('%',#{xiaoshoudanhao,jdbcType=VARCHAR},'%')</if>     <if test="zongjiage!=null">and zongjiage like  concat('%',#{zongjiage,jdbcType=VARCHAR},'%')</if>     <if test="kahao!=null">and kahao like  concat('%',#{kahao,jdbcType=VARCHAR},'%')</if>     <if test="xingming!=null">and xingming like  concat('%',#{xingming,jdbcType=VARCHAR},'%')</if>     <if test="xiaofeijine!=null">and xiaofeijine like  concat('%',#{xiaofeijine,jdbcType=VARCHAR},'%')</if>     
	 order by id desc
     <if test="pageno!=null and pageSize!=null">
     limit #{pageno},#{pageSize}
     </if>
     </select>
	 
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from jinejisuan
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from jinejisuan
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Jinejisuan">
    insert into jinejisuan (id, xiaoshoudanhao,zongjiage,kahao,xingming,xiaofeijine, addtime)
    values (#{id,jdbcType=INTEGER}, #{xiaoshoudanhao,jdbcType=VARCHAR},#{zongjiage,jdbcType=VARCHAR},#{kahao,jdbcType=VARCHAR},#{xingming,jdbcType=VARCHAR},#{xiaofeijine,jdbcType=VARCHAR}, #{addtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Jinejisuan">
    insert into jinejisuan
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="xiaoshoudanhao != null"> xiaoshoudanhao, </if>      <if test="zongjiage != null"> zongjiage, </if>      <if test="kahao != null"> kahao, </if>      <if test="xingming != null"> xingming, </if>      <if test="xiaofeijine != null"> xiaofeijine, </if>      
      <if test="addtime != null">
        addtime,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="xiaoshoudanhao != null"> #{xiaoshoudanhao,jdbcType=VARCHAR},</if>      <if test="zongjiage != null"> #{zongjiage,jdbcType=VARCHAR},</if>      <if test="kahao != null"> #{kahao,jdbcType=VARCHAR},</if>      <if test="xingming != null"> #{xingming,jdbcType=VARCHAR},</if>      <if test="xiaofeijine != null"> #{xiaofeijine,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        #{addtime,jdbcType=VARCHAR},
      </if>
      
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Jinejisuan">
    update jinejisuan
    <set>
	  <if test="xiaoshoudanhao != null"> xiaoshoudanhao = #{xiaoshoudanhao,jdbcType=VARCHAR},</if>      <if test="zongjiage != null"> zongjiage = #{zongjiage,jdbcType=VARCHAR},</if>      <if test="kahao != null"> kahao = #{kahao,jdbcType=VARCHAR},</if>      <if test="xingming != null"> xingming = #{xingming,jdbcType=VARCHAR},</if>      <if test="xiaofeijine != null"> xiaofeijine = #{xiaofeijine,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  
  <update id="updateByPrimaryKey" parameterType="com.entity.Jinejisuan">
    update jinejisuan
    set xiaoshoudanhao = #{xiaoshoudanhao,jdbcType=VARCHAR},zongjiage = #{zongjiage,jdbcType=VARCHAR},kahao = #{kahao,jdbcType=VARCHAR},xingming = #{xingming,jdbcType=VARCHAR},xiaofeijine = #{xiaofeijine,jdbcType=VARCHAR},  addtime = #{addtime,jdbcType=VARCHAR} where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
